<main>
    <h1>Доставка</h1>

    <div class="template-table-description">
        <table>
            <colgroup>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Цена</th>
                <th>Количество дней</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Москва</td>
                <td>СПБ</td>
                <td>500р</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Москва</td>
                <td>Нижний Новгород</td>
                <td>300р</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Москва</td>
                <td>Великий Новгород</td>
                <td>400р</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Москва</td>
                <td>Краснодар</td>
                <td>800р</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Москва</td>
                <td>Сочи</td>
                <td>1000р</td>
                <td>7</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
