<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="авто, запчасти, магазин">
    <meta name="description" content="Первый неклассический магазин автозапчастей">
    <title>{{title}}</title>

    {{> styles }}

    <!-- Внешние библиотеки (оставляем в head) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>

{{> header user=user }}

{{{ body }}}

{{> footer }}
{{> scripts }}

</body>
</html>

